.social-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  padding: 24px;
  aspect-ratio: 2;

  /* Media query for mobile devices and tablets */
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
